 html body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
}
 
#background {
  background: transparent;
  position: absolute;
  z-index: 0;
}
